@use "../base" as *;
@use "../components" as *;

.hero1-about {
  height: 1000px;
}
.ab-1 {
  color: $color-third;

  padding-top: 120px;
  font-family: Rubik;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
}
.hero1-about {
  // background-color: aqua;
}
.ab-2 {
  color: $color-sven;
  max-width: 550px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.ab-3 {
  color: $color-third;
  padding-top: 100px;
  font-family: Rubik;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}
.core {
  width: 260px;
  height: 400px;
}
.core:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.ob-about {
  display: flex;
  gap: 30px;
}
.img-about {
  width: 90%;
  margin: 14px;
}
.btn-about {
  color: $color-first;
  border-radius: 10px;
  background-color: $color-six;
  border: none;
  width: 150px;
  height: 40px;
  margin: -42px 0px 0px 55px;
  position: absolute;
}
.btn-about:hover {
  background-color: #023e87;
  transition: 0.2s;
}
// section2
.hero2-about {
  height: 1200px;
  // background-color: aqua;
}
.ab-4 {
  color: $color-third;

  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
}
.btn2-about {
  border-radius: 8px;
  background: $color-second;
  width: 200px;
  height: 40px;
  border: none;
  margin: -50px 0px 0px 900px;
  position: absolute;
}
.card-about {
  width: 290px;
  height: 427px;
  background-color: #585757;
}
.ab-5 {
  color: $color-sven;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  justify-content: center;
  margin: 320px 0px 0px 0px;
}
.ob2-about {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}
.ob3-about {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}
.card-about:hover {
  background-color: #a8a5a5;

  transition: 0.3s;
}
.hero3-about {
  height: 1500px;
}
.uzuncode {
  // background-color: aqua;
  width: 300px;
  height: 1200px;
}

.u1 {
  color: $color-third;

  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.imgu1 {
  margin: -25px 0px 0px 270px;
  position: absolute;
  width: 20px;
}
.ch {
  margin: 10px 0px 0px 20px;
}
.span1 {
  margin: 0px 0px 0px 10px;
  color: $color-third;
}
.zv {
  margin: 0px 0px 0px 10px;
}
.span2 {
  margin: 0px 0px 0px 10px;
  color: $color-sven;
}
.core2 {
  width: 260px;
  height: 400px;
}
.core2:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.uzuncode2 {
  width: 900px;
  height: 1400px;
  margin: -1200px 0px 0px 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // background-color: #023e87;
}
.all {
  color: var(--text-tittle, #1c3554);

  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
  padding-bottom: 25px;
}

@media (max-width: 1170px) {
  .uzuncode2 {
    margin: 0px 0px 0px 0px;
    width: 100%;
    justify-content: center;
  }
  footer {
    margin: 1170px 0px 0px 0px;
  }
}
@media (max-width: 1119px) {
  .btn2-about {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 1000px) {
  .ob-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero1-about {
    height: 1500px;
  }
}
@media (max-width: 900px) {
  .ob2-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ob3-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero2-about {
    height: 2000px;
  }
}
@media (max-width: 820px) {
  .uzuncode2 {
    height: 2500px;
  }
  footer {
    margin: 2270px 0px 0px 0px;
  }
}
@media (max-width: 639px) {
  .hero2-about {
    height: 4000px;
  }
}
@media (max-width: 590px) {
  .hero1-about {
    height: 2200px;
  }
  .ab-1 {
    font-size: 25px;
  }
}
@media (max-width: 560px) {
  .uzuncode2 {
    height: 4000px;
  }
  footer {
    margin: 3780px 0px 0px 0px;
  }
}
