@use "../base" as *;
@use "../components" as *;

.foot {
  // background-color: aqua;
  height: 300px;
}
.foot-img {
  padding: 30px 0px 0px 0px;
}
.cc {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.foot-c {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150*/
  margin: 5px 0px 10px 0px;
}
.cat {
  margin: -30px 0px 0px 200px;
}
.cat2 {
  margin: -245px 0px 0px 400px;
}
.cat3 {
  margin: -180px 0px 0px 600px;
}
.f-o {
  color: #2a2c1f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.f-o2 {
  color: #65665c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 392px;
  padding: 10px 0px 0px 0px;
}
.foot-ob {
  display: flex;
  justify-content: space-between;
}
.foot-r {
  margin: 40px 0px 0px 0px;
}
.foo-in {
  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  padding: 0px 0px 0px 20px;
  border-radius: 6px;
  margin: 20px 0px 0px 0px;
}
.foot-bt {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 6px;
  border: 1px solid #cf6f49;
  background: #cf6f49;
  width: 100px;
  height: 30px;
}
.foot-bt:hover {
  background-color: #fc9d77;
  transition: 0.4s;
}
.fp1 {
  color: #65665c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 0px 0px 5px;
}
